.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  outline: none;
  cursor: pointer;
  background: transparent;
  width: 120px;
}
