.page {
  position: relative;
  flex: 1;
  background-color: #ffffff;
  overflow: hidden;
}

.layer1 {
  position: absolute;
  width: 48.6vw;
  height: 34.7vw;
  top: -40px;
  right: -18vw;
  background-image: url("../../assets/images/desktop-home-layer1.png");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 1;
}

.layer2 {
  position: absolute;
  width: 20.8vw;
  height: 20.8vw;
  top: 31.25vw;
  right: 13.2vw;
  background-image: url("../../assets/images/desktop-home-layer2.png");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 1;
}

.layer3 {
  position: absolute;
  width: 50.7vw;
  height: 55.6vw;
  top: -40px;
  right: 23.6vw;
  background-image: url("../../assets/images/desktop-home-layer3.png");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 2;
}

.layer4 {
  position: absolute;
  width: 41.8vw;
  height: 56.7vw;
  top: 70px;
  right: -6vw;
  background-image: url("../../assets/images/desktop-home-layer4.png");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 3;
  width: min(100%, 560px);
  padding: 108px 16px 40px;
}

.title {
  font-size: 34px;
  font-weight: 700;
  color: #212121;
  line-height: 1.2;
  margin-bottom: 58px;
  max-width: 608px;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .layer1 {
    width: 39.1vw;
    height: 27.8vw;
    top: 53.7vw;
    right: -7.2vw;
  }

  .layer2 {
    width: 17.6vw;
    height: 17.6vw;
    top: 43.9vw;
    right: -1.6vw;
  }

  .layer3 {
    width: 43.9vw;
    height: 48.8vw;
    top: 39.1vw;
    right: -1.2vw;
    background-image: url("../../assets/images/tablet-home-layer1.png");
  }

  .layer4 {
    width: 68.4vw;
    height: 69.8vw;
    top: 29.3vw;
    right: -28.7vw;
  }

  .content {
    padding: 52px 20px 30px;
  }

  .title {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .layer1, .layer2, .layer3, .layer4 {
    display: none;
  }

  .content {
    padding: 50px 18px 24px;
    width: min(100%, 352px);
  }

  .title {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
